/*  CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #61dafb;
}

.greeting {
  color: white;
  font-size: 10vw;
}
